---
---

@import "{{ site.theme }}";
@font-face {
    font-family:OldLondon; src: url(Fiddum.eot);  
    src: local("real FontName"),url(./OldLondon.ttf) format("truetype"); 
} 
@font-face {
    font-family:OldNewsPaper; 
    src: local("real FontName"),url(./OldNewsPaper.ttf) format("truetype"); 
}

/*
ul {
  list-style-position:inside;
  list-style:none;
  padding-left:20px
}*/